Repository cloudalchemy/ansible-prometheus, pull requests merged in 2020-04, with the labels that each got.

#280 Update Readme variable prometheus_binary_local_dir
  README.md
Labels: area/docs

#272 added installation method config to skip install
  README.md
  defaults/main.yml
  tasks/install.yml
  tasks/preflight.yml
Labels: area/docs, area/tasks, area/vars

#266 improve path_prefix example in defaults
  defaults/main.yml
Labels: area/vars
