Repository cloudalchemy/ansible-prometheus, pull requests merged in 2020-01, with the labels that each got.

#258 Switch user login shell to /usr/sbin/nologin
  tasks/install.yml
Labels: area/tasks

#254 Improve checksum fetching
  tasks/install.yml
  tasks/preflight.yml
Labels: area/tasks, area/vars

#259 Add binary install directory
  tasks/configure.yml
  tasks/install.yml
  templates/prometheus.service.j2
  vars/main.yml
Labels: area/jinja, area/tasks, area/vars

#263 Do not manage system directory
  tasks/install.yml
Labels: area/tasks
